<a href="https://colab.research.google.com/github/TyamanovaMargo/DI-Bootcamp/blob/main/ExerciseXP_week3_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# 🌟 Exercise 1: Duplicate Detection and Removal

In [ ]:
# Load the Titanic dataset
titanic_data = pd.read_csv('train.csv')

# Explore the dataset
print(titanic_data.head())
# print(titanic_data.info())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
num_duplicates = titanic_data.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

So we don't have dublicates in train.csv

so add 5 dublicates

In [ ]:
titanic_data = pd.concat([titanic_data, titanic_data.head()], ignore_index=True)


print(f"Number of duplicate rows: {titanic_data.duplicated().sum()}")

Number of duplicate rows: 5

In [ ]:
num_duplicates = titanic_data.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

num_rows_before = titanic_data.shape[0]
print(f"Number of rows before duplicate removal: {num_rows_before}")

Number of duplicate rows: 5
Number of rows before duplicate removal: 896

In [ ]:

titanic_data = titanic_data.drop_duplicates()

# Проверяем количество строк после удаления дубликатов
num_rows_after = titanic_data.shape[0]
print(f"Number of rows after duplicate removal: {num_rows_after}")

Number of rows after duplicate removal: 891

# 🌟 Exercise 2: Handling Missing Values


*Identify columns in the Titanic dataset with missing values.
Explore different strategies for handling missing data, such as removal, imputation, and filling with a constant value.
Apply each strategy to different columns based on the nature of the data.*

Hint: Review methods like dropna(), fillna(), and SimpleImputer from scikit-learn.

In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [5]:
titanic_data = pd.read_csv('train.csv')

# find missing values in Titanic
missing_data = titanic_data.isnull()
print(missing_data.head())# False (no missing value) or True (missing value).

# Count missing values in each column
missing_counts = titanic_data.isnull().sum()
print(missing_counts)

   PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0        False     False   False  False  False  False  False  False   False
1        False     False   False  False  False  False  False  False   False
2        False     False   False  False  False  False  False  False   False
3        False     False   False  False  False  False  False  False   False
4        False     False   False  False  False  False  False  False   False

    Fare  Cabin  Embarked
0  False   True     False
1  False  False     False
2  False   True     False
3  False  False     False
4  False   True     False
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64



> method dropna()

In [22]:
# Remove rows with missing values
titanic_data.dropna()

# Remove columns with missing values
titanic_data.dropna(axis=1)

# Count missing values in each column
missing_counts = titanic_data.isnull().sum()
print(missing_counts)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64



> method filna()

In [13]:
# Fill missing 'Embarked' values with the most common category
most_common_embarked = titanic_data['Embarked'].mode()[0]
titanic_data['Embarked'].fillna("replaced", inplace=True)

In [17]:
most_common_embarked = titanic_data['Age'].mode()[0]
titanic_data['Age'].fillna(111, inplace=True)

In [20]:
most_common_embarked = titanic_data['Cabin'].mode()[0]
titanic_data['Cabin'].fillna("not found", inplace=True)

In [21]:
missing_counts = titanic_data.isnull().sum()
print(missing_counts)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [25]:
imputer = SimpleImputer(strategy='median')
titanic_data['Age'] = imputer.fit_transform(titanic_data[['Age']])

In [28]:
print(titanic_data.sum())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
print(titanic_data.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [30]:
print(titanic_data.select_dtypes(include=['int']).sum())

PassengerId    397386
Survived          342
Pclass           2057
SibSp             466
Parch             340
dtype: int64

#🌟 Exercise 3: Feature Engineering

*Create new features, such as Family Size from SibSp and Parch, and Title extracted from the Name column.
Convert categorical variables into numerical form using techniques like one-hot encoding or label encoding.
Normalize or standardize numerical features if required.*

Hint: Utilize Pandas for data manipulation and scikit-learn’s preprocessing module for encoding.

In [23]:
import numpy as np

from sklearn.impute import SimpleImputer

#🌟 Exercise 4: Outlier Detection and Handling


*Use statistical methods to detect outliers in columns like Fare and Age.
Decide on a strategy to handle the identified outliers, such as capping, transformation, or removal.
Implement the chosen strategy and assess its impact on the dataset.*

Hint: Explore methods like IQR (Interquartile Range) and Z-score for outlier detection.

#🌟 Exercise 5: Data Standardization and Normalization


Assess the scale and distribution of numerical columns in the dataset.
Apply standardization to features with a wide range of values.
Normalize data that requires a bounded range, like [0, 1].

Hint: Consider using StandardScaler and MinMaxScaler from scikit-learn’s preprocessing module.

#🌟 Exercise 6: Feature Encoding


*Identify categorical columns in the Titanic dataset, such as Sex and Embarked.
Use one-hot encoding for nominal variables and label encoding for ordinal variables.
Integrate the encoded features back into the main dataset.*

Hint: Utilize pandas.get_dummies() for one-hot encoding and LabelEncoder from scikit-learn for label encoding.

#🌟 Exercise 7: Data Transformation for Age Feature



*Create age groups (bins) from the Age column to categorize passengers into different age categories.
Apply one-hot encoding to the age groups to convert them into binary features.*

Hint: Use pd.cut() for binning the Age column and pd.get_dummies() for one-hot encoding.